/* custom styles here */
body{
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

nav{
  display: flex;
  font-size: 2rem;
  justify-content: center;
  height: 100px;
}

.title{
  position: relative;
  top: 25px;
  display: flex;
  background-color: rgba(100,67,24,1.0);
  width:150px;
  height: 150px;
  border: solid 15px rgba(100,67,24,1.0);
  box-shadow: inset 0px 0px 0px 3px black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  z-index: 5;
}

.firstword{
  position: relative;
  word-spacing: 1px;
  left: 20px;
  font-weight: light;
  font-size: 2rem;
  line-height: 2rem;
}

.secondword{
  position: relative;
  bottom:15px;
  font-weight: bold;
}

.hero{
  display: flex;
  background-image: url("assets/main.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  justify-content: center;
}

.herotext{
  color: white;
  position: relative;
  top:40%;
  font-size: 150%;
  width:50%;
  height: 10rem;
  padding-top: 0.5rem;
  text-align: center;
  border: groove 5px black;
  clear: both;
}

.herotext h3{
  margin-top: 2rem;
}

.scroll{
  color: white;
  position: relative;
  top:150px;
  font-size: 1.5rem;
  width:50%;
  height: 5rem;
  padding-top: 1rem;
  text-align: center;
}

.arrow{
  position: relative;
  top: 30px;
  color: black;
  border-radius: 50%;
  padding: 15px;
  box-shadow: inset 0px 0px 0px 3px black;
  font-size: 1.5rem;
}

.arrow:hover{
  transition: 0.3s ease-in;
  background-color: white;
  color: white;
  cursor: pointer;
}

.about{
  display:flex;
  background-color: orange;
  height: 550px;
  justify-content: center;
  line-height: normal;
  color: white;
  text-align: center;
  position: relative;
}

.about .text{
  width: 80%;
}

.about .text h3{
  margin-top: 2rem;
  font-size: 2rem;
}

.about .text{
    z-index: 3;
    height: 325px;
    overflow: auto;
}

.about .text p{
  margin-top: 2rem;
}

.icons{
  position: absolute;
  top:100px;
  z-index: 1;
}

.twittericon{
  position: relative;
  top: 40px;
  font-size: 50px;
  color: black;
}

.social{
  position: absolute;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  height: 8rem;
  overflow: auto;
}

.hero2{
  height: 600px;
  position: relative;
  background: url("assets/image3.jpg");
  background-size: cover;
  background-position: center;
}

.menu{
  height: 600px;
  justify-content: center;
  line-height: normal;
  color: white;
  text-align: center;
  position: relative;
  background-image: url("assets/chalkboard.jpg");
  background-size: cover;
  background-position: center;
  padding-left: 10%;
  padding-right: 10%;
}

.menu .menutext{
  padding-top: 2rem;
  font-size: 2rem;
}

.menu .menutext p{
  padding-top: 1rem;
  font-size: 1rem;
}

.menulist{
  margin-top: 1rem;
  font-size: 1rem;
  height: 300px;
  border: solid 5px white;
}

.menuchoice{
  height: 280px;
  padding-top: 1rem;
  text-align: center;
  overflow: auto;
}

.menuchoice li{
  padding-top: 6px;
}

#contact{
  height: 650px;
  justify-content: center;
  line-height: normal;
  color: black;
  text-align: center;
  position: relative;
  background-color: rgba(100, 100, 100, 0.2);
  padding-left: 10%;
  padding-right: 10%;
}

#contact h3{
  padding-top: 1rem;
  font-size: 2rem;
}

#contact p{
  margin-top: 1rem;
}

#contact .address{
  margin-top: 1rem;
}

#contact .address p{
  margin-top: 0rem;
}

.contact-form{
  padding-left: 0;
  padding-right: 0;
  margin-top: 2rem;
}

.contact-form textarea{
  margin-top: 1rem;
}

.contact-form button{
  background-color: orange;

}

.footer{
  height: 250px;
  justify-content: center;
  line-height: normal;
  color: white;
  text-align: center;
  position: relative;
  background-color: orange;
  padding-left: 10%;
  padding-right: 10%;
}

.footer .footer-left{
  margin-top: 1rem;
  text-align: left;
}

.footer .footer-left .address{
  margin-bottom: 1rem;
}

.footer .footer-left .links p{
  padding-top: 1rem;
}

.footer .footer-right{
  margin-top: 1rem;
  text-align: right;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer .footer-right .company-logo{
  margin-top: 2rem;
}

@media only screen and (max-width: 768px){
  .herotext{
  font-size: 3vw ;
  }

  .hero2{
    height: 150px;
  }

  .menu{
    height: 1050px;
  }

  .menu .menutext h2{
    font-size: 1rem;
    font-weight: bold;
  }

  .menulist{
    height: 600px;
  }

  #contact{
    height: 750px;
  }

  .footer{
    height:400px;
  }
}
